{% block header %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default">

    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a class="navbar-brand" href="{{ path('front.program.myprogram') }}" style="margin-left: -10em;" >
                <div class="logo-image">
                    <img src="" alt="Logo" height="30" align="left">
                    <font size="3" color="grey" align="top"> Geforp</font>
                </div>
            </a>
            <ul class="nav navbar-nav">
                <li class="hidden-xs">
{#                    <a class="navbar-brand" href="{{ path('front.public.index') }}">
                        <img src="{{ asset('img/logo.png') }}" height="30" alt="Logo">
                    </a>#}
                    {% if user.fullName is defined %}
                        <a href="{{ path('front.program.myprogram') }}" data-toggle="collapse" data-target=".navbar-collapse.in">Catalogue des formations</a></li>
                    {% endif %}
                </li>
                <li><a href="{{ path('front.public.contact') }}" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
                <li><a href="{{ path('front.public.faq') }}" data-toggle="collapse" data-target=".navbar-collapse.in">Guide d'utilisation</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.fullName is not defined %}
                    <li><a href="{{ path('front.public.login') }}" title="Accéder à votre espace">Espace personnel</a></li>
                {% else %}
                    <li><a href="{{ path('front.account.registrations') }}">Mon compte</a></li>
                    <li><a href="{{ path('front.account.logout') }}">Se déconnecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock header %}