{% extends "layout.html.twig" %}
{% block breadcrumbs %}
    <ol class="breadcrumb full-height-item">
        <li><a href="{{ path('core.index') }}">Accueil</a></li>
        <li><a href="#">Administration</a></li>
        <li class="active"><a href="{{ path('user.index') }}">Utilisateurs</a></li>
    </ol>
{% endblock %}
{% block content %}
    <div class="list-view full-height-item is-grow">
        <div class="full-height-container is-absolute is-full-width">
            <div class="col-xs-12">
                {% if trainees is empty %}
                    <table class="table table-search table-hover">
                        <br>
                        Aucun stagiaire trouvé pour cette recherche
                        <br><br>
                        <a class="btn btn-primary" href="{{ path('user.searchadd') }}" role="button"><i class="fa fa-search-plus"></i> Nouvelle recherche</a>
                    </table>
                {% else %}
                    <table class="table table-search table-hover">
                        <thead>
                        <tr>
                            <th>Nom complet</th>
                            <th>Email</th>
                            <th>Etablissement</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for trainee in trainees %}
                                {% set persid = trainee.shibbolethpersistentid %}
                                <tr>
                                    {%  if  trainee.shibbolethpersistentid != "" and 'shibboleth' not in persid %}
                                        {% if gest[loop.index0] == 0 %}
                                            <td><a title="Ajouter l'utilisateur" href="{{ path('user.add', { 'eppn': trainee.shibbolethpersistentid, 'email': trainee.email }) }}">{{ trainee.firstname }} {{ trainee.lastname }}</a></td>
                                        {% else %}
                                            <td>{{ trainee.firstname }} {{ trainee.lastname }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{ trainee.firstname }} {{ trainee.lastname }}</td>
                                    {% endif %}
                                    <td>{{ trainee.email }}</td>
                                    <td>{{ trainee.institution }}</td>
                                    {%  if  trainee.shibbolethpersistentid == "" or 'shibboleth' in persid %}
                                        <td>Impossible d'ajouter cet utilisateur car il ne s'est jamais connecté sur cette plate-forme</td>
                                    {% else %}
                                        {%  if  gest[loop.index0] == 1 %}
                                            <td>Cet utilisateur possède déjà un rôle gestionnaire</td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
